Repository zingolabs/zingolib, pull requests merged in 2024-11, with the labels that each got.

#1497 retry test to handle flakes
  .github/workflows/test.yaml
Labels: TOP PRIORITY

#1331 Zingo sync scan transaction
  Cargo.lock
  libtonode-tests/Cargo.toml
  libtonode-tests/tests/sync.rs
  zingo-sync/src/client.rs
  zingo-sync/src/client/fetch.rs
  zingo-sync/src/lib.rs
  zingo-sync/src/primitives.rs
  zingo-sync/src/scan.rs
  zingo-sync/src/scan/workers.rs
  zingo-sync/src/sync.rs
  zingo-sync/src/traits.rs
  zingolib/src/wallet.rs
  zingolib/src/wallet/disk.rs
  zingolib/src/wallet/sync.rs
Labels: sync

#1334 Zingo sync parse memos
  Cargo.lock
  zingo-sync/Cargo.toml
  zingo-sync/src/primitives.rs
  zingo-sync/src/scan.rs
Labels: sync

#1472 Rebroadcast Until Confirmed
  zingolib/src/lightclient/send.rs
  zingolib/src/lightclient/sync.rs
Labels: untested

#1335 Zingo sync scan modules
  zingo-sync/src/scan.rs
  zingo-sync/src/scan/compact_blocks.rs
  zingo-sync/src/scan/compact_blocks/runners.rs
  zingo-sync/src/scan/task.rs
  zingo-sync/src/scan/transactions.rs
  zingo-sync/src/sync.rs
Labels: sync

#1336 Zingo sync outgoing data
  zingo-sync/src/keys.rs
  zingo-sync/src/lib.rs
  zingo-sync/src/primitives.rs
  zingo-sync/src/scan.rs
  zingo-sync/src/scan/transactions.rs
  zingo-sync/src/utils.rs
Labels: sync

#1338 Unify wallet note
  libtonode-tests/tests/sync.rs
  zingo-sync/src/keys.rs
  zingo-sync/src/primitives.rs
  zingo-sync/src/scan/transactions.rs
Labels: sync

#1339 Zingo sync retain relevant blocks
  zingo-sync/src/sync.rs
  zingo-sync/src/traits.rs
  zingolib/src/wallet/sync.rs
Labels: sync

#1343 Zingo sync scan tx with ufvk
  zingo-sync/src/keys.rs
  zingo-sync/src/scan.rs
  zingo-sync/src/scan/compact_blocks.rs
  zingo-sync/src/scan/task.rs
  zingo-sync/src/scan/transactions.rs
  zingo-sync/src/sync.rs
Labels: sync

#1538 Update example wallet
  zingolib/src/wallet/disk/testing/examples/mainnet/hhcclaltpcckcsslpcnetblr/latest/zingo-wallet.dat
Labels: test, lower priority
